html {
  background-color: white;
}

html,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

textarea {
  width: 100%;
}

a:visited,
a:link {
  color: blue;
}

a:hover {
  color: orangered;
}

a:active {
  color: black;
}

li.wikipageListing {
  border: 2px solid red;
}

pre {
  /* margin: 1em 0 0; */
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: keep-all;
}

.monospace,
.monospace button,
.monospace input {
  font-family: monospace;
}